[submodule "deps/copilot"]
	path = deps/copilot
	url = https://github.com/GaloisInc/copilot-1.git
[submodule "deps/what4"]
	path = deps/what4
	url = https://github.com/GaloisInc/what4.git
[submodule "deps/crucible"]
	path = deps/crucible
	url = https://github.com/GaloisInc/crucible.git
[submodule "deps/llvm-pretty"]
	path = deps/llvm-pretty
	url = https://github.com/elliottt/llvm-pretty.git
[submodule "deps/llvm-pretty-bc-parser"]
	path = deps/llvm-pretty-bc-parser
	url = https://github.com/GaloisInc/llvm-pretty-bc-parser.git
